**Explicação das colunas**

ID -> Número do cliente	

CODE_GENDER	-> Gênero	

FLAG_OWN_CAR ->Tem um carro	

FLAG_OWN_REALTY	-> Existe uma propriedade	

CNT_CHILDREN -> Número de filhos

AMT_INCOME_TOTAL -> Renda anual	

NAME_INCOME_TYPE -> Categoria de renda	

NAME_EDUCATION_TYPE	-> Nível de escolaridade

NAME_FAMILY_STATUS -> Estado civil	

NAME_HOUSING_TYPE -> Modo de vida	

DAYS_BIRTH	-> Aniversário	Contagem regressiva a partir do dia atual (0), -1 significa ontem

DAYS_EMPLOYED ->Data de início do emprego	Contagem regressiva a partir do dia atual (0). Se positivo, significa que a pessoa está atualmente desempregada.

FLAG_MOBIL -> Existe um telefone celular? (1) para sim e (0) para não

FLAG_WORK_PHONE	-> Existe um telefone comercial? (1) para sim e (0) para não

FLAG_PHONE -> Tem algum telefone?	(1) para sim e (0) para não

FLAG_EMAIL -> Existe um e-mail	(1) para sim e (0) para não

OCCUPATION_TYPE	-> Ocupação	

CNT_FAM_MEMBERS	-> Tamanho da família


**Importações**

In [8]:
#libs
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [31]:
#arquivo 
df = pd.read_csv('C:\\Users\\souza\\Downloads\\projeto credito\\data\\credit_data_tratada.csv')
df = df.drop('OCCUPATION_TYPE', axis=1)
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,OCCUPATION_TREATED,MONTHS_BALANCE,STATUS
0,5008804,M,True,True,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,2.0,not informed,0,C
1,5008804,M,True,True,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,2.0,not informed,-1,C
2,5008804,M,True,True,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,2.0,not informed,-2,C
3,5008804,M,True,True,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,2.0,not informed,-3,C
4,5008804,M,True,True,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,2.0,not informed,-4,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46766,5021627,F,True,True,0,225000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21918,365243,1,0,0,1,1.0,not informed,-5,C
46767,5021627,F,True,True,0,225000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21918,365243,1,0,0,1,1.0,not informed,-6,C
46768,5021627,F,True,True,0,225000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21918,365243,1,0,0,1,1.0,not informed,-7,C
46769,5021627,F,True,True,0,225000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21918,365243,1,0,0,1,1.0,not informed,-8,C
46770,5021627,F,True,True,0,225000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21918,365243,1,0,0,1,1.0,not informed,-9,C

**Estatistica Descritiva**

In [5]:
df.describe()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS
count,4.385570e+05,438557.000000,4.385570e+05,438557.000000,438557.000000,438557.0,438557.000000,438557.000000,438557.000000,438557.000000
mean,6.022176e+06,0.427390,1.875243e+05,-15997.904649,60563.675328,1.0,0.206133,0.287771,0.108207,2.194465
std,5.716370e+05,0.724882,1.100869e+05,4185.030007,138767.799647,0.0,0.404527,0.452724,0.310642,0.897207
min,5.008804e+06,0.000000,2.610000e+04,-25201.000000,-17531.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.609375e+06,0.000000,1.215000e+05,-19483.000000,-3103.000000,1.0,0.000000,0.000000,0.000000,2.000000
50%,6.047745e+06,0.000000,1.607805e+05,-15630.000000,-1467.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,6.456971e+06,1.000000,2.250000e+05,-12514.000000,-371.000000,1.0,0.000000,1.000000,0.000000,3.000000
max,7.999952e+06,19.000000,6.750000e+06,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000

In [6]:
df.isnull().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        134203
CNT_FAM_MEMBERS             0
dtype: int64

In [24]:
df['OCCUPATION_TYPE'].dtype

dtype('O')

In [25]:
df.dtypes

ID                       int64
CODE_GENDER             object
FLAG_OWN_CAR            object
FLAG_OWN_REALTY         object
CNT_CHILDREN             int64
AMT_INCOME_TOTAL       float64
NAME_INCOME_TYPE        object
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
DAYS_BIRTH               int64
DAYS_EMPLOYED            int64
FLAG_MOBIL               int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
FLAG_EMAIL               int64
OCCUPATION_TYPE         object
CNT_FAM_MEMBERS        float64
dtype: object

In [28]:
df['OCCUPATION_TYPE'].unique()

array([nan, 'Security staff', 'Sales staff', 'Accountants', 'Laborers',
       'Managers', 'Drivers', 'Core staff', 'High skill tech staff',
       'Cleaning staff', 'Private service staff', 'Cooking staff',
       'Low-skill Laborers', 'Medicine staff', 'Secretaries',
       'Waiters/barmen staff', 'HR staff', 'Realty agents', 'IT staff'],
      dtype=object)

Perder 30% da nossa base nao é nada legal para o nosso modelo. Com isso, decidi substituir os dados nu